<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shuttles Event Management Page</title> 
    </head>
    <body>
        <h3>Menu List</h3>
        <br>
        <p>Shuttles 통계 페이지입니다.</p>
        <br>
        <table>
            <tr>
                <td><label>전체 주문 건:</label></td>
                <td><%= result.length %></td>
            </tr>
            <tr>
                <td><label>총 금액:</label></td>
                <% 
                    var sum=0;
                    for(var i=0; i<result.length; i++) 
                        sum += result[i].price;
                    %>
                <td><%= sum %></td>
            </tr>
        </table>
            <br>
        <br>
        <input type="button" value="뒤로가기" onclick='history.back()'>
    </body>
</html>