<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shuttles Summary Page</title> 
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/datepicker-ko.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/js/jquery-ui.min.css">
        
        <script type="text/javascript">
        $(function(){
            $("#startDate").datepicker({
                showOn: "both",
                buttonImage: "images/calendar.png",
                buttonImageOnly: true,
                buttonText: "Select date"
            });

            $("#endDate").datepicker({
                showOn: "both",
                buttonImage: "images/calendar.png",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
        })
        </script>

    </head>
    <body>
        <div class="container">
            <h3>Summary</h3>
            <br>
            <p>Shuttles 통계 페이지입니다.</p>
            <br>
            <form method="get" action="/summary">
            <select name="select_user">
                <option name="select_user" value="all" selected="selected">전체</option>
                <%
                    for(var i=0; i<user.length; i++) {
                %>
                    <option name="select_user" value=<%=user[i].user_id%>><%=user[i].user_id %></option>
                <%
                    }
                %>
            </select>
            <input type="text" id="startDate" name="startDate" size="12" />
            ~
            <input type="text" id="endDate" name="endDate" size="12" />
            <button type="submit" id="summary_submit" class="btn btn-primary">
                    확인<i class="fa fa-check spaceLeft"></i>
            </button>
            <a href="/menu/list" class="btn btn-default pull-right">메뉴 관리</a>
            <a href="/notice/list" class="btn btn-default pull-right">공지사항 관리</a>
            </form>
            <br>
            <table>
                <tr>
                    <td><label>전체 주문 건:</label></td>
                    <td><%= results.length %></td>
                </tr>
                <tr>
                    <td><label>총 금액:</label></td>
                    <% 
                        var sum=0;
                        for(var i=0; i<results.length; i++) 
                            sum += results[i].price;
                        %>
                    <td><%= sum %></td>
                </tr>
            </table>
                <br>
            <br>
            <a href="/logout" class="btn btn-default pull-left">로그아웃</a>
        </div>
    </body>
</html>
