<!DOCTYPE html>
<html>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <script type='text/javascript'>
        function add_item() {
            var div = document.createElement('div');
            div.innerHTML = document.getElementById('pre_set').innerHTML;
            document.getElementById('option').appendChild(div);
        }

        function remove_item(obj) {
            document.getElementById('option').removeChild(obj.parentNode);
        }

    </script>
    <head>
        <meta charset="UTF-8">
        <title>Shuttles Today Menu Management Page</title> 
    </head>
    <body>
        <article class="container">
            <div class="page-header">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Shuttles 오늘의 메뉴 추가 페이지</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-3">
                <form method="post" enctype="multipart/form-data" action="/menu/upload">
                    <div class="form-group">
                        <label for="inputName">메뉴</label>
                        <select name="select_drink_menu">
                        <%
                            for(var i=0; i<results.length; i++) {
                        %>
                            <option name="select_drink_menu" value=<%=results[i].coffee_id%>><%=results[i].name %></option>
                        <%
                            }
                        %>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="inputSize" name="coffee_price" placeholder="가격을 입력해 주세요(숫자만)">
                    </div>
                </form>
            </div>
        </article>
    </body>
</html>